<div class="container">
    <div class="card">
      <img src="/assets/logo-com_nome-com_fundo.png" alt="Logo" class="logo" />
      <button class="back-btn" (click)="goBack()">&#x2190;</button>
      <h1>{{"editarExerc.editarExerc" | translate}}</h1>
      <form [formGroup]="formularioExercicio" (ngSubmit)="submitFormExercicio()" #exercicio="ngForm">
  
        <mat-form-field>
          <mat-label> {{"editarExerc.nomeExerc" | translate}} </mat-label>
          <input formControlName="nome" type="text" matInput>
        </mat-form-field>
   
        <mat-error *ngIf="nome.errors && nome.touched">
          <mat-label> {{"editarExerc.errorNomeCad" | translate}} </mat-label>
        </mat-error>
  
        <mat-form-field>
          <mat-label> {{"editarExerc.tipoExercicio" | translate}} </mat-label>
            <mat-select formControlName="tipoExercicio"> 
            <mat-option value = "Cardiovascular" > <mat-label> {{"editarExerc.cardiovascular" | translate}} </mat-label> </mat-option>
            <mat-option value = "Força" > <mat-label> {{"editarExerc.forca" | translate}} </mat-label> </mat-option>
            <mat-option value = "Flexibilidade" > <mat-label> {{"editarExerc.flexibilidade" | translate}} </mat-label> </mat-option> 
            </mat-select> 
        </mat-form-field>

        <mat-error *ngIf="tipoExercicio.errors && tipoExercicio.touched">
          <mat-label> {{"editarExerc.errorTipoValido" | translate}} </mat-label>
        </mat-error>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label> {{"editarExerc.equipamentoNecessario" | translate}} </mat-label>
            <mat-select formControlName="equipamentoNecessario">
                <mat-option *ngFor="let equipamento of equipamentos" [value]="equipamento.id">
                {{ equipamento.nome }}
                </mat-option>
            </mat-select>
        </mat-form-field>
     
        <mat-error *ngIf="nome.errors && nome.touched">
            <mat-label> {{"editarExerc.errorEquipamento" | translate}} </mat-label>
        </mat-error>

        <mat-form-field>
            <mat-label> {{"editarExerc.nivelDificuldade" | translate}} </mat-label>
              <mat-select formControlName="nivelDificuldade"> 
              <mat-option value = "Iniciante" > <mat-label> {{"editarExerc.iniciante" | translate}} </mat-label> </mat-option>
              <mat-option value = "Intermediario" > <mat-label> {{"editarExerc.intermediario" | translate}} </mat-label> </mat-option>
              <mat-option value = "Avançado" > <mat-label> {{"editarExerc.avancado" | translate}} </mat-label> </mat-option> 
              </mat-select> 
          </mat-form-field>
  
        <mat-error *ngIf="tipoExercicio.errors && tipoExercicio.touched">
            <mat-label> {{"editarExerc.errorNivelDificuldadeInv" | translate}} </mat-label>
        </mat-error>

        <mat-form-field>
            <mat-label> {{"editarExerc.videoDemonstrativo" | translate}} </mat-label>
            <input formControlName="videoDemonstrativo" type="text" matInput>
          </mat-form-field>
     
        <mat-error *ngIf="nome.errors && nome.touched">
            <mat-label> {{"editarExerc.errorVideoDemonstrativo" | translate}} </mat-label>
        </mat-error>

        <mat-form-field>
            <mat-label> {{"editarExerc.musculosTrabalhados" | translate}} </mat-label>
            <input formControlName="musculosTrabalhados" type="text" matInput>
          </mat-form-field>
     
        <mat-error *ngIf="nome.errors && nome.touched">
            <mat-label> {{"editarExerc.errormusculosTrabalhados" | translate}} </mat-label>
        </mat-error>

        <button mat-button (click)="goBack()"> <mat-label> {{"editarEquip.voltar" | translate}} </mat-label> </button>
        <button mat-button type="submit"> <mat-label> {{"editarEquip.salvar" | translate}} </mat-label> </button>
      </form>
    </div>
  </div>
  