<div class="container">
  <button class="hamburger-btn" (click)="toggleSidebar()">
    &#9776;
  </button>
  <div class="sidebar">
    <div class="logo-container">
      <img src="/assets/logo-com_nome-sem_fundo.png" alt="Logo" class="logo" />
    </div>
    <div class="user-info">
    <div class="user-name">
        <p>Bem vindo!<br>{{nomeUsuario}}</p>
        <br>
        <p *ngIf="!adm" >Status da conta: <br>{{statusPagamento}}</p>
        <p *ngIf="adm" >LOGADO COMO ADMINISTRADOR</p>
    </div>
  </div>
  <button mat-button class="sidebar-item" (click)="navigateToEditCadastro()" *ngIf="!adm && !mostraEditInstrutor" >Editar Cadastro</button>
  <button mat-button class="sidebar-item" (click)="navegarParaTreinos()" *ngIf="!adm && !mostraEditInstrutor" >Ir para treinos</button>
  <button mat-button class="sidebar-item" (click)="navegaParaEditAdm()" *ngIf="mostraEditInstrutor" >Editar Cadastro</button>
  <button mat-button class="sidebar-item" (click)="navegarParaCadastroInstrutor()" *ngIf="adm">Novo instrutor</button>
  <button mat-button class="sidebar-item" (click)="navegarParaCadastroEquipamento()" *ngIf="adm">Novo Equipamento</button>
  <button mat-button class="sidebar-item" (click)="navegarParaListagemEquipamentos()" *ngIf="adm">Listar Equipamentos</button>
  <button mat-button class="sidebar-item" (click)="navegarParaListagemUsuario()" *ngIf="adm">Listar Usuários</button>
  <button mat-button class="sidebar-item" (click)="navegarParaListagemInstrutores()" *ngIf="adm">Listar Instrutores</button>
    
  <div class="logout-container">
    <button mat-button class="logout-btn" (click)="logout()">Sair</button>
  </div>
  
  </div>   
</div>
