<mat-grid-list cols="4" gutterSize="-20px" rowHeight="100%" class="tela">
    <mat-grid-tile 
        [rowspan]="1"
        [colspan]="1"
    >
        <div class="menuLateral">
            <app-menu-lateral>
            </app-menu-lateral>    
        </div>
    </mat-grid-tile>

    <mat-grid-tile    
    [colspan]="3"
    [rowspan]="1">
    <div class="tabela-feed-back">
        <mat-form-field>
            <mat-label> {{"listagemEquipamento.tabela.filtro" | translate}} </mat-label> <!--alterar-->
            <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"listagemEquipamento.tabela.nomeEquipamento" | translate}} </th>
                    <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
                </ng-container>
                <ng-container matColumnDef="tipo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"listagemEquipamento.tabela.tipoEquipamento" | translate}} </th>
                    <td mat-cell *matCellDef="let row"> {{row.tipo}} </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                      <button mat-button class="btnAcao" (click)="vaiParaEditarEquipamentos(row)"> {{"listagemEquipamento.btnEditar" | translate}} </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Select page of users"></mat-paginator>
        </div>

    </div>
    </mat-grid-tile>
</mat-grid-list>
