<div class="container">
    <div class="card">
      <img src="/assets/logo-com_nome-com_fundo.png" alt="Logo" class="logo" />
      <button class="back-btn" (click)="goBack()">&#x2190;</button>
      <h1>{{"editarEquip.editarEquip" | translate}}</h1>
      <form [formGroup]="formularioEquipamento" (ngSubmit)="submitFormEquipamento()" #equipamento="ngForm">
  
        <mat-form-field>
          <mat-label> {{"editarEquip.nomeEquip" | translate}} </mat-label>
          <input formControlName="nome" type="text" matInput>
        </mat-form-field>
  
        <mat-error *ngIf="nome.errors && nome.touched">
          <mat-label> {{"editarEquip.errorNomeCad" | translate}} </mat-label>
        </mat-error>
  
        <mat-form-field>
          <mat-label> {{"editarEquip.tipoEquip" | translate}} </mat-label>
            <mat-select formControlName="tipo"> 
            <mat-option value = "Cross" > <mat-label> {{"editarEquip.cross" | translate}} </mat-label> </mat-option>
            <mat-option value = "Livre" > <mat-label> {{"editarEquip.livre" | translate}} </mat-label> </mat-option>
            <mat-option value = "Barra" > <mat-label> {{"editarEquip.barra" | translate}} </mat-label> </mat-option> 
            </mat-select> 
        </mat-form-field>

        <mat-error *ngIf="tipo.errors && tipo.touched">
          <mat-label> {{"editarEquip.errorTipoValido" | translate}} </mat-label>
        </mat-error>

        <button mat-button (click)="goBack()"> <mat-label> {{"editarEquip.voltar" | translate}} </mat-label> </button>
        <button mat-button type="submit"> <mat-label> {{"editarEquip.salvar" | translate}} </mat-label> </button>
      </form>
    </div>
  </div>
  