table {
    width: 100%;
}
  
tr.example-detail-row {
height: 0;
}

.example-element-row td {
border-bottom-width: 0;
}

.example-element-detail {
overflow: hidden;
display: flex;
}

.example-element-diagram {
min-width: 80px;
//border: 2px solid black;
padding: 8px;
font-weight: lighter;
margin: 8px 0;
height: 104px;
}

.example-element-symbol {
font-weight: bold;
font-size: 40px;
line-height: normal;
}

.example-element-description {
padding: 16px;
}

.mat-mdc-form-field {
    width: 100%;
}

.example-element-description-attribution {
opacity: 0.5;
}
.highcharts-background{
    color: #6b6969;
}
.grafico{
    margin-left: 1%;
}
.menuLateral {
    width: 100%;
    height: 100%;
}
.tela {
    width: 100%;
    overflow-y: auto;
    background-color: #464042;
}
.tabela-feed-back {
    width: 100%;
    height: 90%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.filtro{
    width: 100%;
}
.graficoCargaMedia {
    margin-top: 1%;
    width: 100%;
}