<mat-grid-list cols="4" gutterSize="-20px" rowHeight="100%" class="tela">
    <mat-grid-tile 
        [rowspan]="1"
        [colspan]="1"
    >
        <div class="menuLateral">
            <app-menu-lateral>
            </app-menu-lateral>    
        </div>
    </mat-grid-tile>

    <mat-grid-tile
        [colspan]="3"
        [rowspan]="1"
        class="visualizacao">
            <mat-grid-list cols="1" rowHeight="fit" [style.height]="'80%'">
                <mat-card class="informacoesTreino">
                    <mat-card-subtitle>{{qtdTreinoAtual}}/{{quantidadeTreinoTotal}}</mat-card-subtitle>
                    <mat-card-header>{{nomeTreino}}</mat-card-header>
                    <mat-card-subtitle>{{dataAtual}}</mat-card-subtitle>            
                </mat-card>
                <mat-card class="informacoesTreino">
                    <mat-card-subtitle>TREINO</mat-card-subtitle>
                    <mat-card-subtitle>{{tipoTreino}}</mat-card-subtitle>
                    <mat-card-actions>
                        <button mat-button (click)="inciarTreino()" class="botaoTelaInteira" class="btnSalvar">
                            INICAR
                        </button>
                    </mat-card-actions>
                    
                </mat-card>
                
                <mat-card class="informacoesTreino">
                    <mat-card-header>HISTORICO COMPLETO</mat-card-header>
                    <mat-card-actions>
                        <button mat-button (click)="historicoUsuario()" class="botaoTelaInteira" class="btnSalvar">
                            HISTORICO
                        </button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-list>
            
        
    </mat-grid-tile>

</mat-grid-list>