.form-field{
    margin-top: 5%;
    padding-left: 2%;
}

.btn-video{
    background-color: #eb1d63;
    margin-top: 3%;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 3%;
}

.titulo-exercicio{
    width: 100%;
    text-align: center;
    color: white;
}

.titulo{
    width: 100%;
    text-align: center;
    margin-top: 1.5%;
    color: white;
}
.sub-titulo{
    width: 100%;
    text-align: center;
    margin-top: 1.5%;
}

.listaLinhas{
    color: white;
    text-align: center;
}
.contador{
    margin-top: 3%;
    margin-left: 3%;
    width: 95%;
}