.divLogo{
    height: 100%;
    background-color: #464042;
}
.divFormulario{
    height: 100%;
    background-color: #EB1D63;
}
.button{
    width: 100%;
}
.formularioLogin{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}