<mat-card class="card">
    <mat-card-content>
        <div class="info-item"><h2>{{ nome }}</h2></div>
        <div class="info-item"> <mat-label> {{"listarUsuario.listaCPF" | translate}} </mat-label> <br><br>{{ tipoExercicio }}</div>
        <div class="info-item"> <mat-label> {{"listarUsuario.listaCPF" | translate}} </mat-label> <br><br>{{ equipamentoNecessario }}</div>
        <div class="info-item"> <mat-label> {{"listarUsuario.listaCPF" | translate}} </mat-label> <br><br>{{ nivelDificuldade }}</div>
        <div class="info-item"> <mat-label> {{"listarUsuario.listaCPF" | translate}} </mat-label> <br><br>{{ videoDemonstrativo }}</div>
        <div class="info-item"> <mat-label> {{"listarUsuario.listaCPF" | translate}} </mat-label> <br><br>{{ musculosTrabalhados }}</div>

        <button mat-button style="color: #000000;" (click)="vaiParaEditarExercicio()">
            <p> {{"editar" | translate}} </p>
        </button>
        <button mat-button style="color: #000000;" (click)="deletaExercicio()">
            <p> {{"excluir" | translate}} </p>
        </button>
    </mat-card-content>
</mat-card>