<mat-grid-list cols="4" gutterSize="-20px" rowHeight="100%" class="tela">
    <mat-grid-tile 
        [rowspan]="1"
        [colspan]="1"
    >
      <div class="menuLateral">
          <app-menu-lateral>
          </app-menu-lateral>    
      </div>
  </mat-grid-tile>
  <mat-grid-tile
  [colspan]="2"
  [rowspan]="1">
  <div class="formCore">
    <div class="formCoreExercicios">
        <div class="exercicios-treino">
            <mat-card class="card">
                <form [formGroup]="formularioExercicio" (ngSubmit)="submitFormExercicio()" #exercicio="ngForm">
                    <mat-card-title class="titulo"> {{"cadastroExercicio.cadExercicio" | translate}} </mat-card-title>
                    <mat-form-field class="inputForm">
                        <mat-label> {{"cadastroExercicio.nomeExe" | translate}} </mat-label>
                        <input formControlName="nome" type="text" matInput>
                    </mat-form-field>
          
                    <mat-form-field class="inputForm"> 
                        <mat-label>{{"cadastroExercicio.tipoExe" | translate}}</mat-label>
                        <mat-select formControlName="tipoExercicio">
                            <mat-option *ngFor="let tipo of tiposExercicio" [value]="tipo">{{ tipo }}</mat-option>
                        </mat-select>
                    </mat-form-field>
          
                    <mat-form-field class="inputForm">
                        <mat-label>{{"cadastroExercicio.equipNecessario" | translate}}</mat-label>
                        <mat-select formControlName="equipamentoNecessario">
                            <mat-option *ngFor="let equipamento of equipamentos" [value]="equipamento.id">
                            {{ equipamento.nome }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                      
        
                    <mat-form-field class="inputForm">
                        <mat-label>{{"cadastroExercicio.nivelDificuldade" | translate}}</mat-label>
                        <mat-select formControlName="nivelDificuldade">
                            <mat-option *ngFor="let nivel of dificuldadesExercicio" [value]="nivel">{{ nivel }}</mat-option>
                        </mat-select>
                    </mat-form-field>
        
                    <mat-form-field class="inputForm">
                        <mat-label>{{"cadastroExercicio.linkYoutube" | translate}}</mat-label>
                        <input formControlName="videoDemonstrativo" type="url" matInput>
                    </mat-form-field>
          
                    <mat-form-field class="inputForm">
                        <mat-label>{{"cadastroExercicio.musculosTrabalhados" | translate}}</mat-label>
                        <input formControlName="musculosTrabalhados" type="text" matInput>
                    </mat-form-field>
          
                    <button mat-button class="btnForm" (click)="goBack()"> <mat-label> {{"voltar" | translate}}  </mat-label></button>
                    <button mat-button class="btnForm" [disabled]="formularioExercicio.invalid" type="submit"> <mat-label> {{"criar" | translate}} </mat-label></button>
                </form>
            </mat-card>
        </div>
    </div>
  </div>
</mat-grid-tile>
</mat-grid-list>
