<div class="container">
    <div class="card">
        <img src="/assets/logo-com_nome-com_fundo.png" alt="Logo" class="logo" />
        <button class="back-btn" (click)="goBack()">&#x2190;</button>
        <h1>Editar Cadastro</h1>
        <form [formGroup]="formularioExercicio" (ngSubmit)="submitFormExercicio()" #exercicio="ngForm">
  
            <mat-form-field>
                <input formControlName="nome" type="text" matInput placeholder="Nome do Exercício">
            </mat-form-field>
  
            <mat-form-field>
                <textarea formControlName="descricao" matInput placeholder="Descrição"></textarea>
            </mat-form-field>
  
            <mat-form-field appearance="fill">
                <mat-label>Tipo de Exercício</mat-label>
                <mat-select formControlName="tipoExercicio">
                    <mat-option *ngFor="let tipo of tiposExercicio" [value]="tipo">{{ tipo }}</mat-option>
                </mat-select>
            </mat-form-field>
  
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Equipamento Necessário</mat-label>
                <mat-select formControlName="equipamentoNecessario">
                    <mat-option *ngFor="let equipamento of equipamentos" [value]="equipamento.id">
                    {{ equipamento.nome }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
              

            <mat-form-field appearance="fill">
                <mat-label>Nível de Dificuldade</mat-label>
                <mat-select formControlName="nivelDificuldade">
                    <mat-option *ngFor="let nivel of dificuldadesExercicio" [value]="nivel">{{ nivel }}</mat-option>
                </mat-select>
            </mat-form-field>
  
            <mat-form-field>
                <input formControlName="tempoRecomendado" type="text" matInput placeholder="Tempo Recomendado (ex: 15 minutos)">
            </mat-form-field>

            <mat-form-field>
                <input formControlName="videoDemonstrativo" type="url" matInput placeholder="Link do Vídeo Demonstrativo">
            </mat-form-field>
  
            <mat-form-field>
                <textarea formControlName="instrucoesPassoAPasso" matInput placeholder="Instruções Passo a Passo"></textarea>
            </mat-form-field>
  
            <mat-form-field>
                <input formControlName="musculosTrabalhados" type="text" matInput placeholder="Músculos Trabalhados (ex: Bíceps, Tríceps)">
            </mat-form-field>

            <mat-form-field>
                <textarea formControlName="observacoes" matInput placeholder="Observações"></textarea>
            </mat-form-field>
  
            <button mat-button (click)="goBack()">Voltar</button>
            <button mat-button type="submit">Salvar</button>
        </form>
    </div>
</div>
